In [3]:
from bson import json_util, ObjectId
from pandas.io.json import json_normalize
import json
import pymongo
import pandas as pd
from pymongo import MongoClient as Connection

connection = Connection()
db = connection.recipe_db
input_data = db.rezepte
data = json.loads(json_util.dumps(input_data.find()))
norm_data = json_normalize(data)

ingredients = json_normalize(data, record_path='ingredients', meta='id', record_prefix='ingredients_', errors='ignore' )
ingredients = pd.DataFrame(ingredients)

#schmeiss alle zutaten raus, die weniger als 4 mal verwendet werden
ingredients_unique = ingredients[ingredients.groupby('ingredients_id').ingredients_id.transform(len) > 4]

#schmeiss alle rezepte raus, die weniger als 4 zutaten besitzen
ingredients_unique = ingredients[ingredients.groupby('id').ingredients_id.transform(len) > 4]

#regex zum aufräumen der zutatennamen
ingredients_unique['ingredients_name']=ingredients_unique['ingredients_name'].str.replace(r"\(.*\)","")
ingredients_unique['ingredients_name']=ingredients_unique['ingredients_name'].str.replace(r"[-_.+/ ]*\d[-_.+ ]*","")
ingredients_unique['ingredients_name']=ingredients_unique['ingredients_name'].str.replace(r"\b(ml|g|sliced|dried|ground|, chopped|, drained)\b","")

#entferne spalten, die nicht benötigt werden
ingredients_unique = ingredients_unique.drop(ingredients_unique.columns[[0, 3, 4]], axis=1)

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [12]:


#schmeiss alle rezepte raus, die weniger als 4 zutaten besitzen
ingredients_unique = ingredients[ingredients.groupby('id').ingredients_id.transform(len) > 4]

In [15]:
#schmeiss alle zutaten raus, die weniger als 4 mal verwendet werden
ingredients_unique = ingredients[ingredients.groupby('ingredients_id').ingredients_id.transform(len) > 4]

In [13]:
ingredients_unique['ingredients_id'].nunique()

792

In [16]:
ingredients_unique['ingredients_id'].value_counts()

16421    588
4342     392
4397     339
6307     316
16406    247
2496     210
1526     198
16157    160
4572     117
4279     111
20551    109
1684     102
3717     100
16317     97
4432      92
0         92
5107      89
16238     82
6305      81
4405      78
16403     77
4786      77
4409      76
16407     74
4292      71
16396     66
16386     66
16385     63
4529      63
6379      63
        ...
10896      6
16408      6
111        6
2940       6
20318      6
16389      6
20699      5
4315       5
20414      5
3823       5
16427      5
2825       5
1718       5
18845      5
3788       5
20466      5
12057      5
4589       5
3690       5
16382      5
20496      5
4244       5
2323       5
2351       5
2845       5
1637       5
10841      5
10863      5
2863       5
1624       5
Name: ingredients_id, Length: 258, dtype: int64

In [67]:
categories = json_normalize(data, record_path='categories', meta='id', record_prefix='categories_', errors='ignore' )
categories = pd.DataFrame(categories)

#kopiere nur werte die Vegetarian enthalten
#categories_veg = categories[categories.categories_name == 'Vegetarian']

#lösche alle doppelten kategorie IDs
#cat_unique = categories.drop_duplicates(['id'], keep='last')

#benenne spalte um
categories.rename(columns={'categories_name': 'vegetarian'}, inplace=True)
#benenne Vegetarian in 1 um
#categories = categories.replace(['Vegetarian'], [1]) 


cat_unique_veg['id'].nunique()
categories['id'].value_counts()

22314     16
25267     16
70312     15
21092     15
20350     14
35304     14
59467     14
53560     14
22494     14
17445     14
24182     14
34689     14
95860     14
47613     13
17522     13
22450     13
91679     13
105540    13
14088     13
71141     13
51025     13
84863     13
16259     13
25920     12
222801    12
13881     12
17127     12
18313     12
12991     12
13982     12
          ..
26972      3
13509      3
9174       3
14811      3
216190     3
12347      2
18996      2
20320      2
17351      2
14469      2
88278      2
19854      2
23783      2
90105      2
105039     2
24043      2
186378     2
73737      2
57124      2
230050     2
65300      2
22960      2
188690     2
64116      2
25528      2
21126      2
23081      2
13113      2
72616      2
220661     2
Name: id, Length: 988, dtype: int64

In [68]:
categories

        vegetarian      id
0       Vegetarian   43742
1          Italian   43742
2            Pasta   43742
3            World   43742
4             Main   43742
5           Dinner   43742
6      Gluten Free   14184
7            Vegan   14184
8       Dairy Free   14184
9       Vegetarian   14184
10           Salad   14184
11          Dinner   14184
12        Southern  155074
13            Pork  155074
14         Chicken  155074
15           World  155074
16            Main  155074
17          Dinner  155074
18      Vegetarian   20669
19         Italian   20669
20       Appetizer   20669
21           World   20669
22    Clean Eating  152937
23     Gluten Free  152937
24           Vegan  152937
25          Health  152937
26      Vegetarian  152937
27            Side  152937
28         Holiday  152937
29           World  152937
...            ...     ...
6195          Slow  214048
6196          Pork  214048
6197          Main  214048
6198        Dinner  214048
6199   Low Calorie  198617
6200           BBQ  198617
6201        Lowfat  198617
6202          Pork  198617
6203          Main  198617
6204       Italian  223042
6205       Chicken  223042
6206         World  223042
6207          Main  223042
6208        Dinner  223042
6209       Seafood  158833
6210          Main  158833
6211        Dinner  158833
6212  Clean Eating  261608
6213       One Two  261608
6214         Vegan  261608
6215    Vegetarian  261608
6216    Quick Easy  261608
6217          Main  261608
6218        Dinner  261608
6219         Asian  244605
6220         Pasta  244605
6221          Beef  244605
6222         World  244605
6223          Main  244605
6224        Dinner  244605

[6225 rows x 2 columns]

      vegetarian      id
3112           0  169278
3965           0   14522
3964           0   14522
3963           0   14522
3961           0   52934
3960           0   52934
3959           0   52934
3958           0   52934
3956           0   52934
3967           0   14440
3955           0   86241
3953           0   86241
3952           0   86241
3950           0   12384
3948           0   12384
3947           0   16765
3946           0   16765
3944           0   16765
3943           0   13884
3954           0   86241
3942           0   13884
3968           0   14440
3970           0   14440
3992           0   13940
3990           0   13940
3989           0   13940
3988           0   13940
3987           0  216717
3986           0  216717
3984           0  216717
...          ...     ...
4610           1   17437
1351           1   36922
4606           1   22659
4602           1   18271
1302           1   22924
4675           1   19772
1295           1   73047
4682           1   13410
4735           1   60924
1254           1  149398
4729           1   17323
4725           1   23929
1259           1   14228
4719           1  200919
1263           1   46462
4715           1   42688
1267           1   13632
4597           1  139977
4711           1  109914
4703           1   15746
1275           1   13999
4699           1  218288
4695           1   25311
1283           1   22271
4691           1   18809
4687           1    9358
4685           1   20320
1288           1   22976
4706           1   24380
0              1   43742

[6225 rows x 2 columns]

In [69]:
import numpy as np
categories['vegetarian'] = np.where(categories['vegetarian']=='Vegetarian', 1, 0)

categories = categories.sort_values("vegetarian", ascending=False)
categories_veg = categories.drop_duplicates(["id"])

In [78]:
categories_veg['id'].value_counts()

90105     1
12991     1
25273     1
25272     1
8887      1
21174     1
25267     1
15025     1
17071     1
21166     1
21165     1
21160     1
41638     1
15013     1
230050    1
85881     1
15006     1
25075     1
25241     1
25239     1
150166    1
25237     1
146065    1
13914     1
82575     1
21134     1
21132     1
17033     1
23176     1
70330     1
         ..
38277     1
146824    1
11691     1
52232     1
228584    1
155074    1
87678     1
13043     1
247381    1
23988     1
73139     1
11698     1
11696     1
218542    1
11692     1
13907     1
19850     1
214048    1
69027     1
56737     1
11679     1
73975     1
11669     1
54675     1
19858     1
23953     1
9615      1
19854     1
191885    1
24578     1
Name: id, Length: 988, dtype: int64

In [75]:
ingredients_unique['id'].nunique()

986

In [62]:
asd = ingredients_unique.join(categories_veg.set_index(['id']), on=['id'])

In [79]:
categories_veg

      vegetarian      id
0              1   43742
4916           1   15359
1560           1   15084
1555           1   23421
4904           1    9111
1549           1   15176
4908           1  235259
1544           1   25156
4911           1   22960
4913           1   24291
1538           1   19770
1530           1   12991
1637           1   24626
4922           1  228337
4925           1   16085
1520           1   14180
4932           1  145672
1515           1   59967
4935           1   80974
1510           1   46028
4943           1   70101
4947           1   59853
4896           1   19388
1564           1   58246
4887           1   17033
1572           1   13996
1632           1   19584
4841           1   17351
1626           1   13524
4843           1  188690
...          ...     ...
5871           0   16700
5922           0    8887
4900           0  256014
4882           0  261823
1233           0    8626
1227           0    8847
1187           0   12009
251            0   21176
258            0   21694
225            0   26257
223            0   17227
217            0   21174
239            0   16239
235            0   68532
50             0  141678
84             0   21353
48             0   16330
17             0  155074
36             0  235151
528            0   16352
3269           0   16881
3262           0   11967
3285           0  143082
1991           0   64513
1999           0    8665
1988           0   14595
1924           0    8691
1907           0   45736
1948           0   78370
2002           0   45954

[988 rows x 2 columns]

In [89]:
categories_veg

      vegetarian      id
0              1   43742
4916           1   15359
1560           1   15084
1555           1   23421
4904           1    9111
1549           1   15176
4908           1  235259
1544           1   25156
4911           1   22960
4913           1   24291
1538           1   19770
1530           1   12991
1637           1   24626
4922           1  228337
4925           1   16085
1520           1   14180
4932           1  145672
1515           1   59967
4935           1   80974
1510           1   46028
4943           1   70101
4947           1   59853
4896           1   19388
1564           1   58246
4887           1   17033
1572           1   13996
1632           1   19584
4841           1   17351
1626           1   13524
4843           1  188690
...          ...     ...
5871           0   16700
5922           0    8887
4900           0  256014
4882           0  261823
1233           0    8626
1227           0    8847
1187           0   12009
251            0   21176
258            0   21694
225            0   26257
223            0   17227
217            0   21174
239            0   16239
235            0   68532
50             0  141678
84             0   21353
48             0   16330
17             0  155074
36             0  235151
528            0   16352
3269           0   16881
3262           0   11967
3285           0  143082
1991           0   64513
1999           0    8665
1988           0   14595
1924           0    8691
1907           0   45736
1948           0   78370
2002           0   45954

[988 rows x 2 columns]

In [92]:
ing_trans

,0,111,126,1416,1502,1507,1525,1526,1527,1536,...,20453,20466,20473,20482,20496,20551,20699,20726,22106,23274
id,,,,,,,,,,,,,,,,,,,,,
7025,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7034,0,0,0,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7915,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
8626,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8652,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8665,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8691,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
8694,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8847,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8887,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9066,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
9069,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9075,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9111,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
9125,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
9169,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9174,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
9183,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
9184,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
9204,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
9209,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
9219,1,0,0,0,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
9228,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
9237,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
9344,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9358,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
9372,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
9376,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
9377,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9456,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230658,0,0,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
230870,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
231514,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
231616,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
231619,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
232210,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
232908,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
232967,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
233146,0,0,0,0,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
234324,0,0,0,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
235151,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
235259,0,0,0,0,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
236564,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
241709,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
244605,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
244779,0,0,0,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
244973,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
246803,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
247381,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
254691,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
254692,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
254940,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
254971,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
255695,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
256014,1,0,0,0,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
256728,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
257695,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
261124,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
261608,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
261823,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [73]:
ing_trans = pd.get_dummies(ingredients_unique['ingredients_id']).groupby(ingredients_unique['id']).apply(max)

In [90]:
#asd = ing_trans.join(categories_veg.set_index(['id']), on=['id'])


ads = ing_trans.merge(categories_veg, right_on='id', left_index=True)

In [91]:
ads

,0,111,126,1416,1502,1507,1525,1526,1527,1536,...,20473,20482,20496,20551,20699,20726,22106,23274,vegetarian,id
117,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,7025
1658,0,0,0,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,7034
284,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,7915
1233,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,8626
5938,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,8652
1999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,8665
1924,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,8691
5860,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,8694
1227,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,8847
5922,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,8887
1422,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,9066
1701,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,9069
2299,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,9075
4904,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,9111
4040,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,9125
2431,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,9169
5747,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,9174
2550,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,9183
5188,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,9184
3719,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,9204
3932,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,9209
3895,1,0,0,0,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,1,9219
2970,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,9228
1410,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,9237
2368,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,9344
4687,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,9358
4399,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,9372
6122,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,9376
86,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,9377
2798,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,9456
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5356,0,0,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,230658
5851,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,230870
4864,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,231514
3616,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,231616
6155,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,231619
5202,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,1,232210
4835,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,232908
3516,0,0,0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,1,232967
2689,0,0,0,0,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,1,233146
2610,0,0,0,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,234324
36,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,235151
4908,0,0,0,0,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,1,235259
3125,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,236564
4238,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,241709
6221,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,244605
5037,0,0,0,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,244779
3342,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,244973
5551,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,246803
5207,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,247381
5214,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,254691
5846,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,1,254692
6175,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,254940
3501,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,254971
3323,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,255695
4900,1,0,0,0,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,256014
3466,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,256728
3334,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,257695
6171,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,261124
6215,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,261608
4882,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,261823

In [93]:
ads[ads.isnull().any(axis=1)]

Empty DataFrame
Columns: [0, 111, 126, 1416, 1502, 1507, 1525, 1526, 1527, 1536, 1624, 1632, 1636, 1637, 1644, 1648, 1650, 1683, 1684, 1701, 1718, 2104, 2112, 2323, 2351, 2356, 2359, 2362, 2363, 2377, 2496, 2779, 2795, 2805, 2812, 2819, 2825, 2829, 2845, 2858, 2863, 2879, 2882, 2883, 2900, 2940, 2959, 2960, 3472, 3474, 3640, 3686, 3690, 3698, 3702, 3717, 3725, 3752, 3767, 3788, 3795, 3810, 3814, 3819, 3823, 3853, 4207, 4237, 4244, 4252, 4267, 4279, 4286, 4292, 4311, 4314, 4315, 4317, 4335, 4336, 4339, 4342, 4343, 4357, 4366, 4371, 4378, 4381, 4397, 4399, 4405, 4409, 4421, 4431, 4432, 4442, 4516, 4520, 4522, 4529, ...]
Index: []

[0 rows x 260 columns]

In [86]:
ing_trans.head()

,0,111,126,1416,1502,1507,1525,1526,1527,1536,...,20453,20466,20473,20482,20496,20551,20699,20726,22106,23274
id,,,,,,,,,,,,,,,,,,,,,
7025,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7034,0,0,0,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7915,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
8626,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8652,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
ing_trans.rename(columns={'categories_name': 'vegetarian'}, inplace=True)

In [84]:
ing_trans['id'].nunique()

KeyError: 'id'

In [46]:
categories.head

<bound method NDFrame.head of       vegetarian      id
0              1   43742
1              0   43742
2              0   43742
3              0   43742
4              0   43742
5              0   43742
6              0   14184
7              0   14184
8              0   14184
9              1   14184
10             0   14184
11             0   14184
12             0  155074
13             0  155074
14             0  155074
15             0  155074
16             0  155074
17             0  155074
18             1   20669
19             0   20669
20             0   20669
21             0   20669
22             0  152937
23             0  152937
24             0  152937
25             0  152937
26             1  152937
27             0  152937
28             0  152937
29             0  152937
...          ...     ...
6195           0  214048
6196           0  214048
6197           0  214048
6198           0  214048
6199           0  198617
6200           0  198617
6201           0  198617
6202           0  198617
6203           0  198617
6204           0  223042
6205           0  223042
6206           0  223042
6207           0  223042
6208           0  223042
6209           0  158833
6210           0  158833
6211           0  158833
6212           0  261608
6213           0  261608
6214           0  261608
6215           1  261608
6216           0  261608
6217           0  261608
6218           0  261608
6219           0  244605
6220           0  244605
6221           0  244605
6222           0  244605
6223           0  244605
6224           0  244605

[6225 rows x 2 columns]>

In [60]:
print(test.loc[test['vegetarian'] == 0.0])

      vegetarian      id
6009           0   80677
4115           0  205651
5938           0    8652
6175           0  254940
6178           0  209691
6184           0  100690
6171           0  261124
3616           0  231616
6155           0  231619
3579           0   20293
3593           0  105039
6211           0  158833
3402           0   14224
6206           0  223042
6221           0  244605
6195           0  214048
6194           0   40573
3481           0  215093
6202           0  198617
3740           0   33160
5207           0  247381
5037           0  244779
5885           0   51283
5896           0   12720
5860           0    8694
5871           0   16700
5922           0    8887
4900           0  256014
4882           0  261823
1233           0    8626
1227           0    8847
1187           0   12009
251            0   21176
258            0   21694
225            0   26257
223            0   17227
217            0   21174
239            0   16239
235            0   68532
50             0  141678
84             0   21353
48             0   16330
17             0  155074
36             0  235151
528            0   16352
3269           0   16881
3262           0   11967
3285           0  143082
1991           0   64513
1999           0    8665
1988           0   14595
1924           0    8691
1907           0   45736
1948           0   78370
2002           0   45954

In [56]:
print(categories.loc[categories['vegetarian'] == 1.0])

      vegetarian      id
0              1   43742
4916           1   15359
1560           1   15084
1555           1   23421
4904           1    9111
1549           1   15176
4908           1  235259
1544           1   25156
4911           1   22960
4913           1   24291
1538           1   19770
1530           1   12991
1637           1   24626
4922           1  228337
4925           1   16085
1520           1   14180
4932           1  145672
1515           1   59967
4935           1   80974
1510           1   46028
4943           1   70101
4947           1   59853
4896           1   19388
1564           1   58246
4887           1   17033
1572           1   13996
1632           1   19584
4841           1   17351
1626           1   13524
4843           1  188690
...          ...     ...
313            1   20808
5846           1  254692
154            1   15006
601            1   25312
5775           1  132280
5934           1   72683
711            1   13896
6091           1   22304
496            1   34689
335            1   13913
6007           1   68537
5793           1  149448
592            1  149218
741            1   18288
5836           1   22950
5611           1   71574
260            1   13941
107            1   16779
6074           1   16457
5760           1   14112
5688           1   70037
608            1  155534
5916           1   14368
534            1   12965
423            1   26819
519            1   21391
5585           1   18269
316            1   13827
191            1   14297
617            1   84043

[933 rows x 2 columns]