In [1]:
import json

import numpy as np
import pandas as pd
import pymongo
import scipy
from bson import ObjectId, json_util
from pandas.io.json import json_normalize
from pymongo import MongoClient as Connection
from scipy import sparse, spatial
from scipy.spatial.distance import cdist, pdist, squareform
from sklearn.metrics.pairwise import cosine_similarity

# scientific notation disabled form smaller numbers
pd.options.display.float_format = '{:.5f}'.format

# alles resultate anzeigen und nicht nur das letzte
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [ ]:
# display multiple outputs in one row
import pandas as pd
import numpy as np
from IPython.display import display, HTML

CSS = """
.output {
    flex-direction: row;
}
"""

HTML('<style>{}</style>'.format(CSS))

In [ ]:
connection = Connection()
db = connection.recipe_db
input_data = db.recipes_test_copy

data = json.loads(json_util.dumps(input_data.find()))

In [ ]:
ing = pd.DataFrame(json_normalize(data, record_path='ingredients',
                             meta='id', record_prefix='ingredients_', errors='ignore'))


nutritions = pd.DataFrame(json_normalize(data, record_path='nutritions',
                            meta=['id', 'prep_time', 'rating', 'rating_count', 'ready_in_time', 'review_count']))

In [ ]:
#  ------  erstellung und data cleansing - Ingredients

# schmeiss alle zutaten raus, die weniger als 5 mal verwendet werden
# setze multiinde auf 'id' und 'ingredients_id'
ingredients = ing.set_index(['id', 'ingredients_id'])

# filtere alle Zutaten samit ihrer rezepte id, die weniger gleich 5 mal vorkommen
ingredients_eqles_5_ing = ingredients.groupby(
    'ingredients_id').filter(lambda x: len(x) <= 5)

# droppe alle rezepte, die eine Zutate besitzen, die weniger gleich 5 Mal vorkommen
ingredients_filt = ingredients.drop(ingredients_eqles_5_ing.index.get_level_values('id').values, level=0)

# drop alls rows with ingredients_id == 0
ingredients_eqal_zero = ingredients_filt[ingredients_filt.index.get_level_values('ingredients_id') == 0]
ingredients_filt = ingredients_filt.drop(ingredients_eqal_zero.index.get_level_values('id').values, level=0)

#ingredients_filt

In [44]:
#  ------ Erstellung und cleansing des Nutrition Dataframes

# erstelle neue liste auf basis der bereits gefilterten rezepte aus ingredients_filt
id_overlap_mask = nutritions['id'].isin(ingredients_filt.index.get_level_values('id').values)

# erstelle datenframe auf basis der overlapliste
nutritions_filt = nutritions.loc[id_overlap_mask]

nutrition_db = nutritions_filt.pivot_table(
    index=['id'],
    columns=['name'],
    values=['amount'],
).reset_index()

nutrition_db.set_index('id', inplace=True)

# remove multiindex 'amount'
nutrition_db.columns = nutrition_db.columns.droplevel(0)

# entferne alle NA
nutrition_db = nutrition_db.dropna()

# gleiche nochmals die ids der beiden dataframe nutrition und ingredients ab, da der nutrition dataframe noch NA Werte hatt
id_overlap_mask = ingredients_filt.index.get_level_values('id').isin(nutrition_db.index)
ingredients_db = ingredients_filt[id_overlap_mask]

# abgleich ob anzahl der indizes von nutrition und zutaten dataframe gleich sind
nutrition_db.index.nunique()
ingredients_db.index.get_level_values('id').nunique()

4062

4062

In [45]:
id_list = [215014, 8669, 16700, 16354, 12720, 8652, 8887, 51283, 45954, 213742, 14595,
           219164, 16348, 143082, 8665, 11758, 223042, 236609, 8778, 65896, 24264, 11679, 141678, 9023]

ingredients_db.reset_index(inplace=True)

recipe_db = pd.get_dummies(ingredients_db['ingredients_id']).groupby(
    ingredients_db['id']).apply(max)

In [53]:
test = ingredients_db.copy()

In [55]:
# Funktion um das Gewicht der einzelnen Zutaten von vier portionen auf 1 portionen zu erhöhen
def portion_to_1(x):
    a = x / 4
#     a = a * 2
#     x = x + a
    return a


#rechne 
test['ingredients_grams'] = test['ingredients_grams'].apply(
    portion_to_1)

In [57]:
recipe_summed_weight = test.groupby(['id']).sum()
# asd2
recipe_summed_weight = recipe_summed_weight.drop(columns='ingredients_id')

# recipe_summed_weight
# recipe_summed_weight

recipe_summed_weight = recipe_summed_weight.sort_values(by='ingredients_grams')

recipe_summed_weight

        ingredients_grams
id
20881             5.30556
79255            18.32336
106030           19.78482
34531            22.82192
12063            26.77722
48394            31.70482
67785            31.75146
47911            36.79990
21321            37.51250
24372            44.97917
220854           45.11667
6900             46.08778
15675            46.65115
52112            47.51086
232211           53.49278
22765            56.59583
22464            59.16279
222358           60.46458
127565           61.57442
13153            63.33459
15998            63.86833
43743            66.54180
86957            69.74406
33629            69.75000
87163            70.12567
186625           70.20312
210083           70.43333
8899             70.73000
25913            70.74167
244458           70.78333
...                   ...
12718           766.58206
220860          767.81947
25195           784.71460
30501           786.97171
21284           794.18950
133722          799.57663
16218           803.66761
20088           812.63417
229455          826.75902
13958           845.42500
236601          856.69000
228320          865.20481
16580           867.17500
259870          871.12500
11699           878.58206
223046          893.57295
92848           910.50443
236254          910.53685
234182          913.98750
140930          923.65000
257054          998.27313
13824          1005.10625
16704          1027.33823
213117         1138.79300
223048         1165.51875
55946          1177.84896
229874         1182.75000
51849          1195.10222
232865         1444.82829
221900         1977.12167

[4062 rows x 1 columns]

In [49]:
nutrition_db = nutrition_db.join(recipe_summed_weight)

In [50]:
# rechne nährwerte auf 1000g pro rezept hoch
def nutrition_to_1000(x):
    a = x / x.ingredients_grams
    b = a * 1000
    return b
#     print(x.ingredients_grams)

In [51]:
nutrition_db_1000 = nutrition_db.apply(nutrition_to_1000, axis = 1)

In [ ]:
data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]
df = pd.DataFrame(data)
print df

In [89]:
df2 = pd.DataFrame(data=None, columns=nutrition_db_1000.columns, index=None)
df2 = df2.drop(columns='ingredients_grams')
df2.T

Empty DataFrame
Columns: []
Index: [Calcium, Calories, Calories from Fat, Carbohydrates, Cholesterol, Dietary Fiber, Fat, Folate, Iron, Magnesium, Niacin Equivalents, Potassium, Protein, Saturated Fat, Sodium, Sugars, Thiamin, Vitamin A - IU, Vitamin B6, Vitamin C]

In [92]:

df2.loc['index'] = [
    # "Calcium":[1],
    1,
    # "Calories":[1],
    800,
    # "Calories from Fat":[1],
    1,
    # "Carbohydrates":[1],
    1,
    # "Cholesterol":[1],
    1,
    # "Dietary Fiber	":[1],
    1,
    # "Fat":[1],
    1,
    # "Folate":[1],
    1,
    # "Iron":[1],
    1,
    # "Magnesium":[1],
    1,
    # "Niacin Equivalents":[1],
    1,
    # "Potassium":[1],
    1,
    # "Protein":[1],
    1,
    # "Saturated Fat":[1],
    1,
    # "Sodium":[1],
    1,
    # "Sugars":[1],
    1,
    # "Thiamin":[1],
    1,
    # "Vitamin A - IU":[1],
    1,
    # "Vitamin B6":[1],
    1,
    # "Vitamin C":[1]}
    2]
# df2 = df2.iloc[1:]
df2

,Calcium,Calories,Calories from Fat,Carbohydrates,Cholesterol,Dietary Fiber,Fat,Folate,Iron,Magnesium,Niacin Equivalents,Potassium,Protein,Saturated Fat,Sodium,Sugars,Thiamin,Vitamin A - IU,Vitamin B6,Vitamin C
index,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,2