In [ ]:
import json

import numpy as np
import pandas as pd
import pymongo
import scipy
from bson import ObjectId, json_util
from pandas.io.json import json_normalize
from pymongo import MongoClient as Connection
from scipy import sparse, spatial
from scipy.spatial.distance import cdist, pdist, squareform
from sklearn.metrics.pairwise import cosine_similarity

#scientific notation disabled form smaller numbers
pd.options.display.float_format = '{:.5f}'.format

# alles resultate anzeigen und nicht nur das letzte
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

pd.set_option('expand_frame_repr', False)

In [58]:
import pandas as pd
import numpy as np
from IPython.display import display, HTML

CSS = """
.output {
    flex-direction: row;
}
"""

HTML('<style>{}</style>'.format(CSS))

In [ ]:

connection = Connection()
db = connection.recipe_db
input_data = db.recipes_test_copy
#data = pd.DataFrame(list(input_data.find()))

data = json.loads(json_util.dumps(input_data.find()))
norm_data = json_normalize(data)



#schmeiss alle zutaten raus, die weniger als 4 mal verwendet werden
# ingredients_unique = ingredients[ingredients.groupby('ingredients_id').ingredients_id.transform(len) > 4]

# drop duplicate by a column name
 
# ingredients_unique.drop_duplicates(['ingredients_id'], keep='last')

# ingredients_unique = ingredients_unique.drop(ingredients_unique.columns[[0, 3, 4]], axis=1)

# ingredients_unique['ingredients_id'].value_counts()

In [ ]:
ingredients = json_normalize(data, record_path='ingredients', meta='id', record_prefix='ingredients_', errors='ignore' )
ingredients = pd.DataFrame(ingredients)

In [ ]:
nutritions = json_normalize(data, record_path='nutritions',
                            meta=['id', 'prep_time', 'rating', 'rating_count', 'ready_in_time', 'review_count'])

In [ ]:
# data cleansing

# schmeiss alle zutaten raus, die weniger als 5 mal verwendet werden
ingredients_filt = ingredients.groupby('ingredients_id').filter(lambda x: len(x) >= 5)

# drop alls rows with ingredients_id == 0
ingredients_filt = ingredients_filt[ingredients_filt.ingredients_id != 0]

# drop all duplicate
ingredients_filt = ingredients_filt.drop_duplicates(keep='first')

ingredients.id.count()
ingredients.id.nunique()
ingredients_filt.id.count()
ingredients_filt.id.nunique()

In [ ]:
id_list = [215014, 8669, 16700, 16354, 12720, 8652, 8887, 51283, 45954, 213742, 14595, 219164, 16348, 143082, 8665, 11758, 223042, 236609, 8778, 65896, 24264, 11679, 141678, 9023]


recipe_db = pd.get_dummies(ingredients_filt['ingredients_id']).groupby(ingredients_filt['id']).apply(max)

In [ ]:
# recipe_db.index.nunique()
recipe_db.count()
nutritions.id.count()

In [ ]:
#filtere Rezepte aus den Metadaten anhand ihrerr Zutatenmenge raus. 
not_wanted_recipes = recipe_db[recipe_db.mask(recipe_db==0).count(axis=1) <= 4]
not_wanted_recipes
mask = nutritions['id'].isin(not_wanted_recipes.index.values)
nutritions_filt = nutritions.loc[~mask]
# nutritions_filt.id.nunique()
nutrition_db = nutritions_filt.pivot_table(
        index=['id'], 
         columns=['name'],
         values=['amount'],
).reset_index()

nutrition_db.set_index('id', inplace=True)
#remove multiindex 'amount'

nutrition_db.columns = nutrition_db.columns.droplevel(0)
# nutritions_filt.set_index('id', inplace=True)
nutrition_db = nutrition_db.dropna()
nutrition_db.index.nunique()

In [ ]:
recipe_db_filt = recipe_db[recipe_db.mask(recipe_db==0).count(axis=1) >= 5]

user_nutrition = nutrition_db[nutrition_db.index.isin(id_list)]
user_recipes = recipe_db_filt[recipe_db_filt.index.isin(id_list)]
# user_nutrition.columns = user_nutrition.columns.droplevel(0)
user_nutrition.index.nunique()
user_recipes.index.nunique()

In [ ]:
# remove recipes which are missing in nutrition df from the ingredients tecipes dataframe
mask = recipe_db_filt.index.isin(nutrition_db.index.values)
recipe_db = recipe_db_filt.loc[mask]

recipe_db

In [ ]:
##Euklidische Distanz - rezept zu rezept vergelich

result_array = cdist(user_recipes, recipe_db,'jaccard')
result_2 = pd.DataFrame(result_array, columns=recipe_db.index.values, index=user_recipes.index.values)
# result_2

result_10 = pd.DataFrame(result_2.sum(), columns=['jaccard_distance_sum'])
result_10 = result_10.sort_values(by='jaccard_distance_sum')

result_10

In [ ]:
out = result_10.hist(column='jaccard_distance_sum', bins=200)
out

In [ ]:
##Euklidische Distanz - rezept zu rezept vergelich
# minkowski(u, v, p=2, w=None)
# rec = []
# rec = {
#     "Calcium":[1],
#     "Calories":[1],
#     "Calories from Fat":[1],
#     "Carbohydrates":[1],
#     "Cholesterol":[1],
#     "Dietary Fiber":[1],
#     "Fat":[1],
#     "Folate":[1],
#     "Iron":[1],
#     "Magnesium":[1],
#     "Niacin Equivalents":[1],
#     "Potassium":[1],
#     "Protein":[1],
#     "Saturated Fat":[1],
#     "Sodium":[1],
#     "Sugars":[1],
#     "Thiamin":[1],
#     "Vitamin A - IU":[1],
#     "Vitamin B6":[1],
#     "Vitamin C":[1]}

rec_2 = [
    #"Calcium":[1],
    1,
   # "Calories":[1],
    1,
   # "Calories from Fat":[1],
    1,
    #"Carbohydrates":[1],
    1,
    #"Cholesterol":[1],
    1,
    #"Dietary Fiber	":[1],
    1,
    #"Fat":[1],
    1,
    #"Folate":[1],
    1,
    #"Iron":[1],
    1,
    #"Magnesium":[1],
    1,
    #"Niacin Equivalents":[1],
    1,
    #"Potassium":[1],
    1,
    #"Protein":[1],
    1,
    #"Saturated Fat":[1],
    1,
    #"Sodium":[1],
    1,
    #"Sugars":[1],
    1,
    #"Thiamin":[1],
    1,
    #"Vitamin A - IU":[1],
    1,
    #"Vitamin B6":[1],
    1,
    #"Vitamin C":[1]}
    1]

# nutrition_db = nutrition_db[:-700]
# nutrition_db = nutrition_db.dropna()  
result_array = cdist(user_nutrition, nutrition_db,'minkowski', p = 2, w= rec_2)
result_2 = pd.DataFrame(result_array, columns=nutrition_db.index.values, index=user_nutrition.index.values)
# result_2

result_6 = pd.DataFrame(result_2.sum(), columns=['minkowski_distance_sum'])
result_6 = result_6.sort_values(by='minkowski_distance_sum')

In [ ]:
test = result_6
test2 = result_10
# result_6.describe()
# out = result_6.hist(column='minkowski_distance_sum', bins=2000)
# out

In [ ]:
result_6 = result_6[:-700]

In [ ]:
# result_6.describe()
out1 = result_6.hist(column='minkowski_distance_sum', bins=200)
out2 = result_10.hist(column='jaccard_distance_sum', bins=200)
out1
out2

In [ ]:
outliers = test[test['minkowski_distance_sum'] > test['minkowski_distance_sum'].mean() + 1 * test['minkowski_distance_sum'].std()]

In [ ]:
test.drop(outliers.index, inplace=True)

In [ ]:
test.describe()
test2.describe()

In [ ]:
test2 = test2[test2.index.isin(test.index)]
test2

In [ ]:
import pylab
pylab.scatter(test2.jaccard_distance_sum, test.minkowski_distance_sum)

In [ ]:

# outliers

# # test2.drop(outliers.index, inplace=True)
# test2
result_6 = test
result_10 = test2

In [ ]:
test1 = test.hist(column='minkowski_distance_sum', bins=200)
test1

In [ ]:
result_6 = test

In [ ]:
#minmax nomralisierung
from sklearn import preprocessing

nut_res = result_6
x = nut_res.values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
# jac_res = jac_res.reset_index()
nut_res = pd.DataFrame(x_scaled, columns=nut_res.columns, index=nut_res.index)
# result_6 = pd.DataFrame(x_scaled, columns=result_6.columns)


jac_res = result_10
z = jac_res.values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
z_scaled = min_max_scaler.fit_transform(z)
# jac_res = jac_res.reset_index()
jac_res = pd.DataFrame(z_scaled, columns=jac_res.columns, index=jac_res.index)

min_max_nut_recipe = pd.DataFrame(nut_res.minkowski_distance_sum + jac_res.jaccard_distance_sum, columns=jac_res.columns, index=jac_res.index)
min_max_nut_recipe = min_max_nut_recipe.sort_values(by='jaccard_distance_sum')
min_max_nut_recipe.rename(columns={'jaccard_distance_sum': 'min_max_nut_recipe'}, inplace=True)

In [ ]:
out1 = nut_res.hist(column='minkowski_distance_sum', bins=200)
out2 = jac_res.hist(column='jaccard_distance_sum', bins=200)
out1
out2

In [ ]:
display_side_by_side(jac_res, nut_res, min_max_nut_recipe)

In [ ]:
display(jac_res, nut_res, min_max_nut_recipe)

In [ ]:
#robust-normalisierung
from sklearn import preprocessing

nut_res_robust = result_6
x = nut_res_robust.values #returns a numpy array
robust_scaler = preprocessing.RobustScaler()
x_scaled = robust_scaler.fit_transform(x)
# jac_res = jac_res.reset_index()
nut_res_robust = pd.DataFrame(x_scaled, columns=nut_res_robust.columns, index=nut_res_robust.index)
# result_6 = pd.DataFrame(x_scaled, columns=result_6.columns)


jac_res_robust = result_10
z = jac_res_robust.values #returns a numpy array
robust_scaler = preprocessing.RobustScaler()
z_scaled = robust_scaler.fit_transform(z)
# jac_res_robust = jac_res_robust.reset_index()
jac_res_robust = pd.DataFrame(z_scaled, columns=jac_res_robust.columns, index=jac_res_robust.index)



robust_scaling_nut_recipe = pd.DataFrame(nut_res_robust.minkowski_distance_sum + jac_res_robust.jaccard_distance_sum, columns=jac_res_robust.columns, index=jac_res_robust.index)
robust_scaling_nut_recipe = robust_scaling_nut_recipe.sort_values(by='jaccard_distance_sum')
robust_scaling_nut_recipe.rename(columns={'jaccard_distance_sum': 'robust_scaling_nut_recipe'}, inplace=True)

In [ ]:
out1 = nut_res_robust.hist(column='minkowski_distance_sum', bins=200)
out2 = jac_res_robust.hist(column='jaccard_distance_sum', bins=200)
out1
out2

In [ ]:
display_side_by_side(jac_res_robust, nut_res_robust)

In [ ]:
#z-score-mormalisierung
z_min = (result_6 - result_6.mean())/result_6.std()
z_jac = (result_10 - result_10.mean())/result_10.std()

z_score_nut_recipe = pd.DataFrame(z_min.minkowski_distance_sum + z_jac.jaccard_distance_sum, columns=result_6.columns, index=z_min.index)
z_score_nut_recipe = z_score_nut_recipe.sort_values(by='minkowski_distance_sum')
z_score_nut_recipe.rename(columns={'minkowski_distance_sum': 'z_score_nut_recipe'}, inplace=True)

In [ ]:
out1 = result_6.hist(column='minkowski_distance_sum', bins=200)
out2 = result_10.hist(column='jaccard_distance_sum', bins=200)
out1
out2

In [ ]:
display_side_by_side(result_6, result_10)

In [ ]:
z_scaled

In [ ]:
# summed_up = pd.DataFrame(columns='sum')
# result_6['sum'] = result_6.minkowski_distance_sum + result_10.jaccard_distance_sum
# result_6

In [59]:
display(result_6, result_10)

        minkowski_distance_sum
72845              16845.99911
180791             16895.05504
213742             16972.68289
8621               16977.63899
217080             17040.46949
219461             17052.20530
90497              17061.19406
223381             17116.44969
25198              17168.34636
162936             17177.05649
223357             17206.63537
103503             17206.78568
146943             17208.87052
215014             17219.96438
9214               17231.13472
86047              17231.35532
179365             17246.75798
82296              17265.92564
231549             17279.07177
70935              17290.28611
21507              17291.17644
84745              17296.40568
139972             17296.66454
212632             17326.72486
213202             17340.23375
15302              17342.31002
20675              17344.24278
107915             17361.96925
217272             17373.20084
69721              17377.72668
...                        ...
236781             99605.66973
178054             99698.08275
228320             99843.84384
78202             100077.78286
8808              100080.04711
89334             100169.64573
132576            100617.69390
72064             100684.78282
81441             101292.92005
70447             101821.25820
228680            101989.21891
87389             102001.91157
16556             102112.89253
221006            102121.90951
150258            102704.02615
74140             102739.03725
11953             102994.76018
15646             103325.76273
244200            103333.28323
53731             103411.40985
87955             103464.86972
171442            104116.98989
160197            104130.43390
11900             104158.48984
112157            104631.91632
20082             104807.22394
185519            104909.67527
213117            105234.11492
88912             105321.48326
11747             105596.43135

[5434 rows x 1 columns]

        jaccard_distance_sum
102235              19.33806
11732               19.37608
25927               19.45397
16416               19.53403
8887                19.57872
51372               19.59542
223042              19.60473
132511              19.68490
213487              19.69363
14534               19.70749
228918              19.70948
8560                19.72623
55860               19.74261
19886               19.74731
24264               19.75162
8611                19.75340
78142               19.76540
219763              19.76885
220314              19.77546
70522               19.78759
71291               19.80092
143082              19.81122
85740               19.81675
17530               19.81714
238038              19.82201
19126               19.83299
8876                19.83639
245705              19.83714
8652                19.84116
215697              19.84723
...                      ...
32209               22.92857
25407               22.92857
128355              22.93333
17548               22.93333
8846                22.93333
58480               22.93333
79098               22.94118
53536               22.94118
239097              22.94737
109544              22.95455
71145               22.95652
222604              22.96000
34700               23.00000
24160               23.00000
48980               23.00000
52112               23.00000
209578              23.00000
176431              23.00000
25325               23.00000
233550              23.00000
32150               23.00000
19511               23.00000
108155              23.00000
57243               23.00000
17610               23.00000
15699               23.00000
82685               23.00000
236054              23.00000
24878               23.00000
236197              23.00000

[5434 rows x 1 columns]

In [57]:
display(result_6, result_10, min_max_nut_recipe, z_score_nut_recipe, robust_scaling_nut_recipe)

        minkowski_distance_sum
72845              16845.99911
180791             16895.05504
213742             16972.68289
8621               16977.63899
217080             17040.46949
219461             17052.20530
90497              17061.19406
223381             17116.44969
25198              17168.34636
162936             17177.05649
223357             17206.63537
103503             17206.78568
146943             17208.87052
215014             17219.96438
9214               17231.13472
86047              17231.35532
179365             17246.75798
82296              17265.92564
231549             17279.07177
70935              17290.28611
21507              17291.17644
84745              17296.40568
139972             17296.66454
212632             17326.72486
213202             17340.23375
15302              17342.31002
20675              17344.24278
107915             17361.96925
217272             17373.20084
69721              17377.72668
...                        ...
236781             99605.66973
178054             99698.08275
228320             99843.84384
78202             100077.78286
8808              100080.04711
89334             100169.64573
132576            100617.69390
72064             100684.78282
81441             101292.92005
70447             101821.25820
228680            101989.21891
87389             102001.91157
16556             102112.89253
221006            102121.90951
150258            102704.02615
74140             102739.03725
11953             102994.76018
15646             103325.76273
244200            103333.28323
53731             103411.40985
87955             103464.86972
171442            104116.98989
160197            104130.43390
11900             104158.48984
112157            104631.91632
20082             104807.22394
185519            104909.67527
213117            105234.11492
88912             105321.48326
11747             105596.43135

[5434 rows x 1 columns]

        jaccard_distance_sum
102235              19.33806
11732               19.37608
25927               19.45397
16416               19.53403
8887                19.57872
51372               19.59542
223042              19.60473
132511              19.68490
213487              19.69363
14534               19.70749
228918              19.70948
8560                19.72623
55860               19.74261
19886               19.74731
24264               19.75162
8611                19.75340
78142               19.76540
219763              19.76885
220314              19.77546
70522               19.78759
71291               19.80092
143082              19.81122
85740               19.81675
17530               19.81714
238038              19.82201
19126               19.83299
8876                19.83639
245705              19.83714
8652                19.84116
215697              19.84723
...                      ...
32209               22.92857
25407               22.92857
128355              22.93333
17548               22.93333
8846                22.93333
58480               22.93333
79098               22.94118
53536               22.94118
239097              22.94737
109544              22.95455
71145               22.95652
222604              22.96000
34700               23.00000
24160               23.00000
48980               23.00000
52112               23.00000
209578              23.00000
176431              23.00000
25325               23.00000
233550              23.00000
32150               23.00000
19511               23.00000
108155              23.00000
57243               23.00000
17610               23.00000
15699               23.00000
82685               23.00000
236054              23.00000
24878               23.00000
236197              23.00000

[5434 rows x 1 columns]

        min_max_nut_recipe
25927              0.05174
102235             0.08032
16416              0.08062
51372              0.08277
8887               0.08906
223042             0.09609
11732              0.12064
213487             0.14029
19126              0.15564
24264              0.15912
238038             0.16242
228918             0.16309
85740              0.16701
70522              0.17055
71291              0.17106
143082             0.17394
86047              0.17650
26619              0.17654
14534              0.17915
245705             0.17948
55860              0.18312
14595              0.18733
87168              0.18847
8611               0.18981
218584             0.19158
218950             0.19365
8983               0.19448
215697             0.19585
8598               0.20222
19886              0.20603
...                    ...
158968             1.57240
80200              1.57321
17161              1.57369
11970              1.58012
15419              1.60106
87955              1.60129
18840              1.60197
22248              1.60702
130444             1.60763
17373              1.60952
221006             1.62381
109544             1.62852
15646              1.62993
11747              1.63405
91597              1.64290
217962             1.64367
73649              1.64417
18844              1.65978
11877              1.66247
26674              1.66603
19400              1.66865
14618              1.68344
15351              1.68621
20082              1.72981
160197             1.73187
14670              1.74553
49769              1.74712
229874             1.77192
178054             1.80056
233550             1.88941

[5434 rows x 1 columns]

        z_score_nut_recipe
25927             -3.94362
102235            -3.78660
16416             -3.77637
51372             -3.76155
8887              -3.72658
223042            -3.68561
11732             -3.55630
213487            -3.43109
19126             -3.33799
24264             -3.32179
228918            -3.30109
238038            -3.30005
85740             -3.27421
70522             -3.25541
71291             -3.25192
143082            -3.23516
26619             -3.21669
86047             -3.21382
14534             -3.21010
245705            -3.20264
55860             -3.18610
14595             -3.15287
8611              -3.14769
87168             -3.14539
218584            -3.13150
218950            -3.11720
8983              -3.11410
215697            -3.10934
8598              -3.07234
19886             -3.05594
...                    ...
158968             4.79769
17161              4.80028
80200              4.82248
11970              4.86587
87955              4.93799
15419              4.94606
18840              4.97993
22248              4.99230
130444             4.99328
17373              5.00112
221006             5.07167
15646              5.10520
11747              5.12512
109544             5.14989
73649              5.19874
91597              5.22337
217962             5.22783
11877              5.30519
18844              5.31030
26674              5.33449
19400              5.34244
14618              5.43571
15351              5.46895
20082              5.68479
160197             5.69802
14670              5.79018
49769              5.81864
229874             5.95585
178054             6.10640
233550             6.63137

[5434 rows x 1 columns]

        robust_scaling_nut_recipe
25927                    -2.87850
51372                    -2.78256
16416                    -2.72670
8887                     -2.70813
223042                   -2.67911
102235                   -2.49205
19126                    -2.44256
86047                    -2.42698
213487                   -2.40605
238038                   -2.37094
26619                    -2.34115
87168                    -2.33898
85740                    -2.32498
14595                    -2.32121
24264                    -2.31409
71291                    -2.27090
231380                   -2.26457
218950                   -2.26241
70522                    -2.25918
143082                   -2.25860
245705                   -2.24230
228918                   -2.22886
8983                     -2.21059
218584                   -2.20771
217080                   -2.19815
61024                    -2.19682
219635                   -2.19327
11732                    -2.19083
79249                    -2.18805
220182                   -2.17208
...                           ...
141158                    7.37554
228320                    7.37650
81441                     7.39481
244715                    7.41178
17373                     7.44485
89334                     7.47358
74140                     7.47953
16556                     7.49628
72064                     7.52380
11953                     7.52641
15419                     7.57020
26674                     7.57121
49769                     7.59194
53731                     7.59905
11900                     7.60775
14618                     7.65139
73649                     7.71299
185519                    7.75453
19400                     7.78668
11877                     7.79553
87955                     7.83512
221006                    7.86214
229874                    7.90030
15646                     7.94786
11747                     8.07848
14670                     8.12104
160197                    8.41404
20082                     8.43923
178054                    8.47966
233550                    8.65530

[5434 rows x 1 columns]

In [ ]:
robust_scaling_nut_recipe.index.values[:10]

In [ ]:
user_nutrition.describe()

In [55]:
display(jac_res_robust, nut_res_robust, robust_scaling_nut_recipe)

        jaccard_distance_sum
102235              -2.43501
11732               -2.39163
25927               -2.30274
16416               -2.21138
8887                -2.16038
51372               -2.14133
223042              -2.13070
132511              -2.03921
213487              -2.02925
14534               -2.01344
228918              -2.01116
8560                -1.99205
55860               -1.97336
19886               -1.96799
24264               -1.96307
8611                -1.96104
78142               -1.94735
219763              -1.94341
220314              -1.93587
70522               -1.92203
71291               -1.90682
143082              -1.89506
85740               -1.88874
17530               -1.88831
238038              -1.88274
19126               -1.87022
8876                -1.86634
245705              -1.86548
8652                -1.86089
215697              -1.85397
...                      ...
32209                1.66233
25407                1.66233
128355               1.66777
17548                1.66777
8846                 1.66777
58480                1.66777
79098                1.67672
53536                1.67672
239097               1.68378
109544               1.69197
71145                1.69423
222604               1.69820
34700                1.74384
24160                1.74384
48980                1.74384
52112                1.74384
209578               1.74384
176431               1.74384
25325                1.74384
233550               1.74384
32150                1.74384
19511                1.74384
108155               1.74384
57243                1.74384
17610                1.74384
15699                1.74384
82685                1.74384
236054               1.74384
24878                1.74384
236197               1.74384

[5434 rows x 1 columns]

        minkowski_distance_sum
72845                 -0.74880
180791                -0.74404
213742                -0.73651
8621                  -0.73603
217080                -0.72993
219461                -0.72879
90497                 -0.72792
223381                -0.72256
25198                 -0.71752
162936                -0.71668
223357                -0.71381
103503                -0.71379
146943                -0.71359
215014                -0.71251
9214                  -0.71143
86047                 -0.71141
179365                -0.70991
82296                 -0.70805
231549                -0.70678
70935                 -0.70569
21507                 -0.70560
84745                 -0.70509
139972                -0.70507
212632                -0.70215
213202                -0.70084
15302                 -0.70064
20675                 -0.70045
107915                -0.69873
217272                -0.69764
69721                 -0.69720
...                        ...
236781                 7.28253
178054                 7.29150
228320                 7.30565
78202                  7.32835
8808                   7.32857
89334                  7.33726
132576                 7.38074
72064                  7.38725
81441                  7.44627
70447                  7.49754
228680                 7.51384
87389                  7.51507
16556                  7.52584
221006                 7.52672
150258                 7.58321
74140                  7.58661
11953                  7.61142
15646                  7.64355
244200                 7.64428
53731                  7.65186
87955                  7.65705
171442                 7.72033
160197                 7.72163
11900                  7.72436
112157                 7.77030
20082                  7.78731
185519                 7.79726
213117                 7.82874
88912                  7.83722
11747                  7.86390

[5434 rows x 1 columns]

        robust_scaling_nut_recipe
25927                    -2.87850
51372                    -2.78256
16416                    -2.72670
8887                     -2.70813
223042                   -2.67911
102235                   -2.49205
19126                    -2.44256
86047                    -2.42698
213487                   -2.40605
238038                   -2.37094
26619                    -2.34115
87168                    -2.33898
85740                    -2.32498
14595                    -2.32121
24264                    -2.31409
71291                    -2.27090
231380                   -2.26457
218950                   -2.26241
70522                    -2.25918
143082                   -2.25860
245705                   -2.24230
228918                   -2.22886
8983                     -2.21059
218584                   -2.20771
217080                   -2.19815
61024                    -2.19682
219635                   -2.19327
11732                    -2.19083
79249                    -2.18805
220182                   -2.17208
...                           ...
141158                    7.37554
228320                    7.37650
81441                     7.39481
244715                    7.41178
17373                     7.44485
89334                     7.47358
74140                     7.47953
16556                     7.49628
72064                     7.52380
11953                     7.52641
15419                     7.57020
26674                     7.57121
49769                     7.59194
53731                     7.59905
11900                     7.60775
14618                     7.65139
73649                     7.71299
185519                    7.75453
19400                     7.78668
11877                     7.79553
87955                     7.83512
221006                    7.86214
229874                    7.90030
15646                     7.94786
11747                     8.07848
14670                     8.12104
160197                    8.41404
20082                     8.43923
178054                    8.47966
233550                    8.65530

[5434 rows x 1 columns]

In [ ]:
import matplotlib.pyplot as plt

df.plot(kind='scatter',x='year',y='value')
plt.show()

In [ ]:
res[:100]

In [ ]:
result_6[:10].index.values

In [ ]:
# nutrition_db.isnull().values.sum()
# nutrition_db
# df1 = nutrition_db[nutrition_db.isnull().any(axis=1)]

# df1
# result_6['minkowski_distance_sum']
user_nutrition.describe()

In [ ]:
top_10_nut = nutrition_db[nutrition_db.index.isin(result_6.index.values[:10])]
top_10_nut_recipes = nutrition_db[nutrition_db.index.isin(robust_scaling_nut_recipe.index.values[:10])]
top_10_recipes = nutrition_db[nutrition_db.index.isin(result_10.index.values[:10])]

In [ ]:
top_10_nut_recipes.describe()

In [ ]:
nutrition_db.loc[[24717]]

In [ ]:
user_nutrition.describe()
top_10_recipes.describe()
top_10_nut.describe()

In [ ]:
# user_nutrition['Vitamin B6'].median()
user_nutrition['Fat'].median()

In [ ]:
#remove multiindex 'amount'
# user_nutrition.columns = user_nutrition.columns.droplevel(0)
# nutrition_db.columns = nutrition_db.columns.droplevel(0)